#Commuter .gitignore file

.DS_Store
Commuters-csharp.sln
Commuters.sln
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
Library*
Temp*
*.csproj
*.pidb
*.unityproj
*.userprefs
*.sln
